# Django
SECRET_KEY=your-secret-key-here-must-be-at-least-32-chars
DEBUG=False

# Database
DB_NAME=simlog
DB_USER=simlog_user
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# Hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173

#Social login
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret