[flake8]
max-line-length = 120
exclude =
    .venv,
    migrations,
    __pycache__,
    .git
per-file-ignores =
    */admin.py:F401
    */tests.py:F401
    */models.py:F401
    */settings/*.py:F401,F403,F405
